apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ app_name }}"
  namespace: "{{ namespace }}"
  labels:
    version: 1.0.0
    managed-by: "{{ managed_by }}"
spec:
  replicas: "{{ size }}"
  selector:
    matchLabels:
      component: "{{ app_label }}"
  template:
    metadata:
      labels:
        component: "{{ app_label }}"
        runtime: nginx
        version: 1.0.0
        managed-by: anisble
    spec:
      containers:
      - name: "{{ app_name }}" 
        image: quay.io/superlamer/storybook
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 50Mi
        ports:
        - containerPort: "{{ app_port }}"
        env:
          - name: APP_HOST
            value: "{{ app_host }}"
          - name: APP_PORT
            value: "{{ app_port }}"
          - name: NODE_ENV
            value: "{{ node_env }}"
      imagePullSecrets:
      - name: quay-creds
